{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>TechSky</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap/four/bootstrap.css' %}">
    <link href="{% static 'core/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/fontawesome-free-6.7.2/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">

<!-- Navbar -->
<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <a class="navbar-brand mr-1 text-primary" href="">Medical Smart Doctor</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
                <i class="fas fa-user-circle fa-fw text-primary"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item">{{ user.username }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>
</nav>

<div id="wrapper" style="padding-top: 50px">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'patient' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Patient Dashboard</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-user-circle fa-fw text-primary"></i>
                <span>Logged As {{ user.username }}</span>
            </a>
        </li>

        {% if status == '1' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'diagnosis' %}">
                    <i class="fas fa-microscope text-primary"></i>
                    <span style>Make Diagnosis</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="fas fa-pager text-primary"></i>
                    <span style>Diagnosis Results</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="fas fa-calendar text-primary"></i>
                    <span style>Appointment</span>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_profile' %}">
                    <i class="fas fa-user text-primary"></i>
                    <span>User Profile</span>
                </a>
            </li>
        {% endif %}
    </ul>

    {% block body %}{% endblock %}
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'core/js/jquery.js' %}"></script>
<script src="{% static 'core/js/popper.js' %}"></script>
<script src="{% static 'core/js/bootstrap.js' %}"></script>

{% include 'patient/ajax.html' %}
{% block javascript %}{% endblock %}
